.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  width: calc(100%-15%);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 15%;
  width: calc(100%-15%);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
