<!DOCTYPE html>
<html lang="en" style="background: #E4E9F7;" class="mdl-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar-main">
      <app-navbar></app-navbar>
    </div>
    <section class="home-section">
      <router-outlet></router-outlet>
    </section>
  </body>
</html>

<!-- <app-manage-food></app-manage-food> -->
