<div class="sidebar open">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus icon"></i>
    <div class="logo_name">Restau</div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li (click)="onSearchClick()">
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search..." />
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a routerLink="/order-food" routerLinkActive="active">
        <i class="bx bx-cart-alt"></i>
        <span class="links_name">Order</span>
      </a>
      <span class="tooltip">Order</span>
    </li>
    <li>
      <a routerLink="/payment" routerLinkActive="active">
        <i class='bx bxl-paypal'></i>
        <span class="links_name">Payment</span>
      </a>
      <span class="tooltip">Payment</span>
    </li>
    <li>
      <a>
        <i class="bx bx-cart-alt"></i>
        <span class="links_name">Manage Order</span>
      </a>
      <span class="tooltip">Order</span>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active">
        <i class="bx bx-user"></i>
        <span class="links_name">Manage Food</span>
      </a>
      <span class="tooltip">User</span>
    </li>
    <li>
      <a routerLink="combo" routerLinkActive="active">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Manage Combo</span>
      </a>
      <span class="tooltip">Manage Combo</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-chat"></i>
        <span class="links_name">Messages</span>
      </a>
      <span class="tooltip">Messages</span>
    </li>
  </ul>
</div>
